.Description {
  margin-top: 70px;
  &__header {
    width: 100%;
    display: flex;
    gap: 30px;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--color-accent-alt);
  }
  &__header-title {
    color: var(--color-dark);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 140%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 2px;
      background-color: var(--color-accent);
      transition-duration: inherit;
    }
    &--active {
      font-weight: 700;
      color: var(--color-accent);
      &::after {
        width: 100%;
      }
    }
  }

  &__block-text {
    margin-top: 20px;
  }
  &__title {
    font-weight: 700;
    color: var(--color-dark);
    font-size: 14px;
  }
  &__text {
    margin-bottom: 32px;
    font-size: 14px;
    color: var(--color-dark-alt);
  }
}
