@font-face {
  font-family: "CeraProRegular";
  src: url("../fonts/CeraProRegular/CeraProRegular.eot");
  src: url("../fonts/CeraProRegular/CeraProRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CeraProRegular/CeraProRegular.woff") format("woff"),
    url("../fonts/CeraProRegular/CeraProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
